
<!DOCTYPE html>
<!-- saved from url=(0050)/#about -->
<html class="no-js" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="description" content="Zuman - Creative Personal Portfolio">
    <meta name="keywords" content="Portfolio, Personal, Creatiev, Zuman, Html Template, Portfolio Template">
    <meta name="author" content="ixTheme">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Rodolpho Chabi BABATOUNDE, Ingénieur Système d'information et réseaux informatique  / Dév. Full Stack</title>
    <!-- Favicon -->
    <link href="https://ix-theme.com/html/zuman/img/favicon.png" type="image/png" rel="icon">

    <!-- All CSS -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/ionicons.css" rel="stylesheet" type="text/css">
    <link href="/styles/mobiriseicons.css" rel="stylesheet" type="text/css">
    <link href="/styles/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/splitting.css" rel="stylesheet" type="text/css">
    <link href="/styles/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/styles/main.css" rel="stylesheet" type="text/css">
    <link href="/styles/responsive.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css" rel="stylesheet" type="text/css">
</head>

<body id="top" data-spy="scroll" data-target="#menu_items" style="">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!--  start page loader  -->
    
    <!--  end page loader  -->

    <!-- start landing wrapper  -->
    <div id="particles-js" class="landing_wrapper no-bg-img">
        <!-- start header  -->
        <header class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-8">
                        <div class="logo">
                            <a href="/"><img src="/images/logo.png" alt="zuman"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-4">
                        <ul id="menu_items" class="menu_items">
                            <li class="nav-item">
                                <a href="#top" class="active menu_item nav-link slide-horizontal" data-splitting>Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a href="#about" class="menu_item nav-link slide-horizontal" data-splitting>A propos</a>
                            </li>
                            <li class="nav-item">
                                <a href="#service" class="menu_item nav-link slide-horizontal" data-splitting>Activités</a>
                            </li>
                            <li class="nav-item">
                                <a href="#works" class="menu_item nav-link slide-horizontal" data-splitting>Oeuvres</a>
                            </li>
                            <li class="nav-item">
                                <a href="#testimonial" class="menu_item nav-link slide-horizontal" data-splitting>Testimonial</a>
                            </li>
                            <li class="nav-item">
                                <a href="#contact" class="menu_item nav-link slide-horizontal" data-splitting>Contact</a>
                            </li>
                        </ul>
                        <!-- responsive menu btn -->
                        <div class="nav-btn">
                            <span class="ion-android-menu"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header  -->
        <!-- start home wrapper -->
        <div class="home_wrapper">
            <!-- start landing content -->
            <div class="landing_content text-center">
                <div class="container">
                    <div class="row">
                        <div class="col text-white cd-intro">
                            <h5 class="title-slide-in" data-splitting>Hello word! Je suis</h5>
                            <h1 class="title-slide-in" data-splitting>Rodolpho  Chabi BABATOUNDE</h1>
                            <h4 class="title-slide-in" data-splitting>Dev. Full Stack</h4>
                            <h4 class="title-slide-in" data-splitting>Ing. Système d'Information & Réseaux</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end landing content -->
        </div>
        <!-- end home wrapper -->
    <canvas class="particles-js-canvas-el" width="2560" height="1280" style="width: 100%; height: 100%;"></canvas></div>
    <!-- end landing wrapper  -->
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- start about wrapper -->
                <div id="about" class="about_wrapper">
                    <div class="about">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-4 col-md-5">
                                <!-- start about image -->
                                <div class="about_img">
                                    <img class="about_img_1 top" src="/images/about_photo_1.jpg" alt="">
                                    <img class="about_img_2 bottom" src="/images/about_photo_2.jpg" alt="">
                                </div>
                                <!-- end about image -->
                            </div>
                            <div class="col-lg-6 col-md-7">
                                <!-- start about details -->
                                <div class="about_info">
                                    <h4>Developpeur full stack & Informaticien indutriel</h4>
                                    <img class="zigzag" src="https://ix-theme.com/html/zuman/img/zigzag.svg" alt="">
                                    <p class="about_desc"><span>
                                    Né le 22 Mai 1994 à Allada au Bénin</span> <br>
                                    Je suis titulaire d'une licence pro en Génie Electrique et Informatique Industrielle et d'un Master pro en système d'information et réseaux informatique. Je suis en ce moment en Master 2 en Informatique option developpeur Full Stack. Je travail en tant qu'ingénieur assistant à l'UMS Stella mare, une unité de recherche de l'Université de Corse et j'envisage aller vers une thèse de Doctorat. J'ai travaillé dans divers domaines de l'informatique notament les réseaux, les IoT, l'intélligence artificielle, les systèmes embarqués et le développement d'applications web et desktop. Tres technique, je suis assez produictif et ouvert à la critique. 
                                    <br>
                                    <a href='#'>Télécharger mon CV</a>
                                    </p>
                                    <!-- start social links -->
                                    <ul class="social_links">
                                        <li><a href="/#"><span class="ion-social-twitter"></span></a></li>
                                        <li><a href="/#"><span class="ion-social-instagram-outline"></span></a></li>
                                        <li><a href="/#"><span class="ion-social-linkedin"></span></a></li>
                                        <li><a href="/#"><span class="ion-social-facebook"></span></a></li>
                                        <li><a href="/#"><span class="ion-social-dribbble-outline"></span></a></li>
                                    </ul>
                                    <!-- end social links -->
                                </div>
                                <!-- end about details -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end about wrapper -->
                <!-- start services wrapper -->
                <div id="service" class="services">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- section title -->
                            <div class="text-center">
                                <h2 class="section_title">Services</h2>
                            </div>
                            <!-- start service items -->
                            <div class="service_items">
                                <div class="row">
                                    <!-- start service single items -->
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="service_single_item">
                                            <i class="mbri-sites"></i>
                                            <h6 data-hover="Design">Design</h6>
                                            <p>Molestiae vel eos atque alias recusandae citationem ad mollitia tecto possimus.</p>
                                        </div>
                                    </div>
                                    <!-- end service single items -->
                                    <!-- start service single items -->
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="service_single_item">
                                            <i class="mbri-extension"></i>
                                            <h6 data-hover="Development">Development</h6>
                                            <p>Ugit est deleniti at obcaecati ccusantium quam incidunt aborum voluptate.</p>
                                        </div>
                                    </div>
                                    <!-- end service single items -->
                                    <!-- start service single items -->
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="service_single_item">
                                            <i class="mbri-rocket"></i>
                                            <h6 data-hover="Graphics">Graphics</h6>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit quos delectus ratione fugiat.</p>
                                        </div>
                                    </div>
                                    <!-- end service single items -->
                                    <!-- start service single items -->
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="service_single_item">
                                            <i class="mbri-flag"></i>
                                            <h6 data-hover="Branding">Branding</h6>
                                            <p>Molestiae vel eos atque alias recusandae citationem ad mollitia tecto possimus.</p>
                                        </div>
                                    </div>
                                    <!-- end service single items -->
                                    <!-- start service single items -->
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="service_single_item">
                                            <i class="mbri-image-slider"></i>
                                            <h6 data-hover="Photography">Photography</h6>
                                            <p>Excepturi assumenda minima ea fugit laudantium dolores alias cum abore amet sint.</p>
                                        </div>
                                    </div>
                                    <!-- end service single items -->
                                    <!-- start service single items -->
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="service_single_item">
                                            <i class="mbri-like"></i>
                                            <h6 data-hover="Support">Support</h6>
                                            <p>consectetur adipisicing obcaecati ccusantium quam incidunt aborum voluptate.</p>
                                        </div>
                                    </div>
                                    <!-- end service single items -->
                                </div>
                            </div>
                            <!-- end service items -->
                        </div>
                    </div>
                </div>
                <!-- end services wrapper -->
                <!-- start work wrapper -->
                <div id="works" class="work_wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- section title -->
                            <div class="text-center">
                                <h2 class="section_title">Recent Works</h2>
                            </div>
							
							<!-- work filter start -->
							<div class="row no-gutters">
								<div class="col-12">
									<div class="filter-buttons">
										<button class="" data-filter="*">Everything</button>
										<button data-filter=".web" class="">Web</button>
										<button data-filter=".uiux" class="">UI/UX</button>
										<button data-filter=".branding" class="active">Branding</button>
									</div>
								</div>
							</div>
							<!-- work filter end -->
							
                            <div class="row works" style="position: relative; height: 322.688px;">
                                <!-- work single item  -->
                                <div class="col-lg-4 col-md-6 col-sm-6 uiux" style="position: absolute; left: 0px; top: 0px; display: none;">
                                    <div class="work_single_item">
                                        <img class="img-fluid" src="./Zuman - Creative Personal Portfolio_files/work_01.jpg" alt="">
                                        <div class="work_info">
                                            <h6 title="Black &amp; White Shoe">Black &amp; White Shoe</h6>
                                            <p>Upcoming</p>
                                            <a class="ajax-popup-link" href="https://ix-theme.com/html/zuman/work-details-1.html"><span class="ion-android-expand"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- work single item  -->
                                <div class="col-lg-4 col-md-6 col-sm-6 web" style="position: absolute; left: 0px; top: 0px; display: none;">
                                    <div class="work_single_item">
                                        <img class="img-fluid" src="./Zuman - Creative Personal Portfolio_files/work_02.jpg" alt="">
                                        <div class="work_info">
                                            <h6 title="White Lamp in White Wall">White Lamp in White Wall</h6>
                                            <p>05 Aug 2018</p>
                                            <a class="ajax-popup-link" href="https://ix-theme.com/html/zuman/work-details-2.html"><span class="ion-android-expand"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- work single item  -->
                                <div class="col-lg-4 col-md-6 col-sm-6 branding" style="position: absolute; left: 0px; top: 0px;">
                                    <div class="work_single_item">
                                        <img class="img-fluid" src="./Zuman - Creative Personal Portfolio_files/work_03.gif" alt="">
                                        <div class="work_info">
                                            <h6 title="Green Lamp Holder">LED Torch Light</h6>
                                            <p>21 July 2018</p>
                                            <a class="ajax-popup-link" href="https://ix-theme.com/html/zuman/work-details-3.html"><span class="ion-android-expand"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- work single item  -->
                                <div class="col-lg-4 col-md-6 col-sm-6 web" style="position: absolute; left: 333.328px; top: 0px; display: none;">
                                    <div class="work_single_item">
                                        <img class="img-fluid" src="./Zuman - Creative Personal Portfolio_files/work_04.jpg" alt="">
                                        <div class="work_info">
                                            <h6 title="Green Lamp Holder">Green Lamp Holder</h6>
                                            <p>16 June 2018</p>
                                            <a class="ajax-popup-link" href="https://ix-theme.com/html/zuman/work-details-4.html"><span class="ion-android-expand"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- work single item  -->
                                <div class="col-lg-4 col-md-6 col-sm-6 branding" style="position: absolute; left: 333.328px; top: 0px;">
                                    <div class="work_single_item">
                                        <img class="img-fluid" src="./Zuman - Creative Personal Portfolio_files/work_05.gif" alt="">
                                        <div class="work_info">
                                            <h6 title="Olive Oil Bottle">Stainless Steel Chair</h6>
                                            <p>19 April 2018</p>
                                            <a class="ajax-popup-link" href="https://ix-theme.com/html/zuman/work-details-5.html"><span class="ion-android-expand"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- work single item  -->
                                <div class="col-lg-4 col-md-6 col-sm-6 uiux" style="position: absolute; left: 333.328px; top: 0px; display: none;">
                                    <div class="work_single_item">
                                        <img class="img-fluid" src="./Zuman - Creative Personal Portfolio_files/work_06.jpg" alt="">
                                        <div class="work_info">
                                            <h6 title="Black Chair">Black Chair</h6>
                                            <p>27 Feb 2018</p>
                                            <a class="ajax-popup-link" href="https://ix-theme.com/html/zuman/work-details-6.html"><span class="ion-android-expand"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- view all work button  -->
                                <div class="col-lg-12" style="position: absolute; left: 0px; top: 645.376px; display: none;">
                                    <a class="button slide-vertical words chars splitting" data-splitting="" href="/#" style="--word-total:3; --char-total:12;"><span class="word" data-word="View" style="--word-index:0;"><span class="char" data-char="V" style="--char-index:0;">V</span><span class="char" data-char="i" style="--char-index:1;">i</span><span class="char" data-char="e" style="--char-index:2;">e</span><span class="char" data-char="w" style="--char-index:3;">w</span></span><span class="whitespace"> </span><span class="word" data-word="All" style="--word-index:1;"><span class="char" data-char="A" style="--char-index:4;">A</span><span class="char" data-char="l" style="--char-index:5;">l</span><span class="char" data-char="l" style="--char-index:6;">l</span></span><span class="whitespace"> </span><span class="word" data-word="Works" style="--word-index:2;"><span class="char" data-char="W" style="--char-index:7;">W</span><span class="char" data-char="o" style="--char-index:8;">o</span><span class="char" data-char="r" style="--char-index:9;">r</span><span class="char" data-char="k" style="--char-index:10;">k</span><span class="char" data-char="s" style="--char-index:11;">s</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end work wrapper -->
                <!-- start counter wrapper -->
                <div class="counter">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-3">
                                    <i class="mbri-user"></i>
                                    <h4>Happy Clients</h4>
                                    <span class="counter-number">198</span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-3">
                                    <i class="mbri-code"></i>
                                    <h4>Project Done</h4>
                                    <span class="counter-number">375</span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-3">
                                    <i class="mbri-hot-cup"></i>
                                    <h4>Coffee Cups</h4>
                                    <span class="counter-number">2652</span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-3">
                                    <i class="mbri-cust-feedback"></i>
                                    <h4>Total Review</h4>
                                    <span class="counter-number">350</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end counter wrapper -->
                <!-- start testimonials wrapper -->
                <div id="testimonial" class="testimonials">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <!-- section title -->
                            <div class="text-center">
                                <h2 class="section_title">Testimonials</h2>
                            </div>
                            <div class="owl-carousel testimonial_slider owl-loaded owl-drag">
                                <!-- start testimonial single item -->
                                
                                <!-- end testimonial single item -->
                                <!-- start testimonial single item -->
                                
                                <!-- end testimonial single item -->
                                <!-- start testimonial single item -->
                                
                                <!-- end testimonial single item -->
                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3080px, 0px, 0px); transition: all 0.25s ease 0s; width: 5390px;"><div class="owl-item cloned" style="width: 770px;"><div class="testimonial_single_item">
                                    <img src="./Zuman - Creative Personal Portfolio_files/test_02.jpg" alt="photo">
                                    <p>Lorem ipsum dolor sit amet omnis consectetur adipisicing elit empora quia forem ipsum dolorsiempora aspernatur dolore, sapiente quidem sequi non tenetur harum, nihil quis beatae rerum ipsa nemo quae voluptate, repellendus nostrum debitis velit nisi.</p>
                                    <h4>Dylan Moore</h4>
                                    <span>CEO - Notun Inc.</span>
                                </div></div><div class="owl-item cloned" style="width: 770px;"><div class="testimonial_single_item">
                                    <img src="./Zuman - Creative Personal Portfolio_files/test_03.jpg" alt="photo">
                                    <p>Lorem ipsum dolor sit amet omnis consectetur adipisicing elit empora quia forem ipsum dolorsiempora aspernatur dolore, sapiente quidem sequi non tenetur harum, nihil quis beatae rerum ipsa nemo quae voluptate, repellendus nostrum debitis velit nisi.</p>
                                    <h4>John Dio</h4>
                                    <span>Founder - Alada Inc.</span>
                                </div></div><div class="owl-item" style="width: 770px;"><div class="testimonial_single_item">
                                    <img src="./Zuman - Creative Personal Portfolio_files/test_01.jpg" alt="photo">
                                    <p>Lorem ipsum dolor sit amet omnis consectetur adipisicing elit empora quia forem ipsum dolorsiempora aspernatur dolore, sapiente quidem sequi non tenetur harum, nihil quis beatae rerum ipsa nemo quae voluptate, repellendus nostrum debitis velit nisi.</p>
                                    <h4>Keven Feil</h4>
                                    <span>Founder - Purano Inc.</span>
                                </div></div><div class="owl-item" style="width: 770px;"><div class="testimonial_single_item">
                                    <img src="./Zuman - Creative Personal Portfolio_files/test_02.jpg" alt="photo">
                                    <p>Lorem ipsum dolor sit amet omnis consectetur adipisicing elit empora quia forem ipsum dolorsiempora aspernatur dolore, sapiente quidem sequi non tenetur harum, nihil quis beatae rerum ipsa nemo quae voluptate, repellendus nostrum debitis velit nisi.</p>
                                    <h4>Dylan Moore</h4>
                                    <span>CEO - Notun Inc.</span>
                                </div></div><div class="owl-item active" style="width: 770px;"><div class="testimonial_single_item">
                                    <img src="./Zuman - Creative Personal Portfolio_files/test_03.jpg" alt="photo">
                                    <p>Lorem ipsum dolor sit amet omnis consectetur adipisicing elit empora quia forem ipsum dolorsiempora aspernatur dolore, sapiente quidem sequi non tenetur harum, nihil quis beatae rerum ipsa nemo quae voluptate, repellendus nostrum debitis velit nisi.</p>
                                    <h4>John Dio</h4>
                                    <span>Founder - Alada Inc.</span>
                                </div></div><div class="owl-item cloned" style="width: 770px;"><div class="testimonial_single_item">
                                    <img src="./Zuman - Creative Personal Portfolio_files/test_01.jpg" alt="photo">
                                    <p>Lorem ipsum dolor sit amet omnis consectetur adipisicing elit empora quia forem ipsum dolorsiempora aspernatur dolore, sapiente quidem sequi non tenetur harum, nihil quis beatae rerum ipsa nemo quae voluptate, repellendus nostrum debitis velit nisi.</p>
                                    <h4>Keven Feil</h4>
                                    <span>Founder - Purano Inc.</span>
                                </div></div><div class="owl-item cloned" style="width: 770px;"><div class="testimonial_single_item">
                                    <img src="./Zuman - Creative Personal Portfolio_files/test_02.jpg" alt="photo">
                                    <p>Lorem ipsum dolor sit amet omnis consectetur adipisicing elit empora quia forem ipsum dolorsiempora aspernatur dolore, sapiente quidem sequi non tenetur harum, nihil quis beatae rerum ipsa nemo quae voluptate, repellendus nostrum debitis velit nisi.</p>
                                    <h4>Dylan Moore</h4>
                                    <span>CEO - Notun Inc.</span>
                                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
                        </div>
                    </div>
                </div>
                <!-- end testimonials wrapper -->
                <!-- start clients wrapper -->
                <div class="clients">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-10 client_items">
                            <!-- section title -->
                            <h2 class="section_title">Clients</h2>
                            <div class="row no-gutters">
                                <div class="col">
                                    <img src="./Zuman - Creative Personal Portfolio_files/brand_01.png" alt="Brand_01">
                                    <img src="./Zuman - Creative Personal Portfolio_files/brand_02.png" alt="Brand_02">
                                    <img src="./Zuman - Creative Personal Portfolio_files/brand_03.png" alt="Brand_03">
                                    <img src="./Zuman - Creative Personal Portfolio_files/brand_04.png" alt="Brand_04">
                                    <img src="./Zuman - Creative Personal Portfolio_files/brand_05.png" alt="Brand_05">
                                    <img src="./Zuman - Creative Personal Portfolio_files/brand_06.png" alt="Brand_06">
                                    <img src="./Zuman - Creative Personal Portfolio_files/brand_07.png" alt="Brand_07">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end clients wrapper -->
                <!-- start contact wrapper -->
                <div id="contact" class="contact_wrapper">
                    <div class="text-center">
                        <h2 class="section_title">Drop a line</h2>
                    </div>
                    <div class="row justify-content-center">
                        <!-- start contact info ( email - phone) -->
                        <div class="col-lg-3 col-md-12">
                            <div class="contact_item">
                                <h5>Phone</h5>
                                <p>+22-021-8888-11</p>
                            </div>
                            <div class="contact_item">
                                <h5>Email</h5>
                                <p>sojonislam60@gmail.com</p>
                            </div>
                        </div>
                        <!-- end contact info ( email - phone) -->
                        <!-- start contact form -->
                        <div class="col-lg-7 col-md-12">
                            <form id="contact-form" action="https://ix-theme.com/html/zuman/php/mail.php">
                                <div class="row">
                                    <div class="col">
                                        <p class="form-message"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- input field for NAME -->
                                        <input class="input_field required" type="text" name="name" placeholder="Name">
                                        <!-- input field for EMAIL -->
                                        <input class="input_field required" type="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-7">
                                        <!-- input field for MESSAGE -->
                                        <textarea class="input_field required" name="message" placeholder="Tell Me About Your Query."></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <!-- button for MESSAGE-SEND -->
                                        <button class="button slide-vertical words chars splitting" type="submit" data-splitting="" style="--word-total:2; --char-total:11;"><span class="word" data-word="send" style="--word-index:0;"><span class="char" data-char="s" style="--char-index:0;">s</span><span class="char" data-char="e" style="--char-index:1;">e</span><span class="char" data-char="n" style="--char-index:2;">n</span><span class="char" data-char="d" style="--char-index:3;">d</span></span><span class="whitespace"> </span><span class="word" data-word="message" style="--word-index:1;"><span class="char" data-char="m" style="--char-index:4;">m</span><span class="char" data-char="e" style="--char-index:5;">e</span><span class="char" data-char="s" style="--char-index:6;">s</span><span class="char" data-char="s" style="--char-index:7;">s</span><span class="char" data-char="a" style="--char-index:8;">a</span><span class="char" data-char="g" style="--char-index:9;">g</span><span class="char" data-char="e" style="--char-index:10;">e</span></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end contact form -->
                    </div>
                </div>
                <!-- end contact wrapper -->
                <!-- start footer wrapper -->
                <footer>
                    <a href="/#top" class="go_top">
                        <i class="ion-ios-arrow-thin-up"></i>
                    </a>
                    <!-- start social links -->
                    <ul class="social_links">
                        <li><a href="/#"><span class="ion-social-twitter"></span></a></li>
                        <li><a href="/#"><span class="ion-social-instagram-outline"></span></a></li>
                        <li><a href="/#"><span class="ion-social-linkedin"></span></a></li>
                        <li><a href="/#"><span class="ion-social-facebook"></span></a></li>
                        <li><a href="/#"><span class="ion-social-dribbble-outline"></span></a></li>
                    </ul>
                    <p class="copyright">© 2019 <span>Zuman</span>. All Rights Reserved.</p>
                    <p>Created by <span>ixTheme</span></p>
                </footer>
                <!-- end footer wrapper -->
            </div>
        </div>
    </div>


    <!-- ========  All JS Here ========  -->
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/ajax-mail.js"></script>
    <script src="/js/plugins.js"></script>
    <!-- particles.min.js (only for index-2.html page) -->
    <script src="/js/particles.min.js"></script>
    <script src="/js/main.js"></script>



</body></html>